---
import { NormalizeCSS } from "../styles/normalize";
import { Global } from "@emotion/react";
import { PreviewPng } from "@static/images";
import { Header } from "@modules/Header";
import MetaConfig from "./MetaConfig.astro";
import i18next, { t } from "i18next"; // Import i18next for translations
import { HeadHrefLangs } from "astro-i18next/components";

interface Props { // the props for the layout
    title: string; // the title of the website
    description: string; // the description of the website
    overwritePreview?: string; // the preview image of the website landing page
}

const { title, description, overwritePreview } = Astro.props;
---

<!-- 
    This is the main layout for the website.
    It includes the header and the main content.
    It also includes the MetaConfig component to set the metadata for the page.
-->
<!doctype html>
<html lang={i18next.language}> <!-- dynamic language translation -->
    <head>
        <MetaConfig
        title={t(title)}
        description={t(description)}
        preview={overwritePreview ? overwritePreview : PreviewPng.src}
        />
        <title>{t(title)}</title>
        <Global styles={NormalizeCSS} />

        <HeadHrefLangs /> <!-- it adds hreflang tags for SEO -->

        <script>
            /**
             * Add class to transition "overflow element" on page load to make it prettier
             */
            document.addEventListener("DOMContentLoaded", () => {
                document.body.classList.add("hide-overflow");
            });
        </script>
    </head>
    <body>
        <Header client:load />
        <slot />
    </body>
</html>
