---
import { NormalizeCSS } from "../styles/normalize";
import { Global } from "@emotion/react";
import { PreviewPng } from "@static/images";
import { Header } from "@modules/Header";
import MetaConfig from "./MetaConfig.astro";

interface Props {
    title: string;
    description: string;
    overwritePreview?: string;
}

const { title, description, overwritePreview } = Astro.props;
---

<!-- 
    This is the main layout for the website.
    It includes the header and the main content.
    It also includes the MetaConfig component to set the metadata for the page.
-->
<!doctype html>
<html lang="en"> <!-- todo: change to dynamic language -->
    <head>
        <MetaConfig
            title={title}
            description={description}
            preview={overwritePreview ? overwritePreview : PreviewPng.src}
        />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href="https://www.tinghsiehpiano.me/" />
        <Global styles={NormalizeCSS} />

        <script>
            /**
             * Add class to transition "overflow element" on page load to make it prettier
             */
            document.addEventListener("DOMContentLoaded", () => {
                document.body.classList.add("hide-overflow");
            });
        </script>
    </head>
    <body>
        <Header client:load />
        <slot />
    </body>
</html>
